/**
 * @file game.css
 * @author Kevin Ma kma45@my.centennialcollge.ca
 * @studentID 300867968
 * @date October 18, 2016
 * @description This file is the main styling sheet for the game
 * @version 0.1.0
 */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body {
    background-color: darkgrey;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: aliceblue;
    margin-top: 10vh;
    /*width: 100vw;
    height: 100vh;*/
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */